/*** BASIC LAYOUT: FOOTER ***/

.footer {
    display: flex;
    justify-content: space-between;
    background-color: $accent-color;
    color: $font-alternative-color;

    .container {
        width: 100%;
    }

    a {
        color: $font-alternative-color;
    }

    a:hover {
        color: #fff;
    }

    p {
        color: $font-alternative-color;
        margin: 0;
    }

    .developed {
        display: flex;
        align-items: center;
        padding: 1.5em;
        font-size: 1.5rem;
    }

    .developed a {
        text-decoration: underline;
    }

    .social {
        font-size: 2rem;
        padding: 1.5em;
    }
}

@media (max-width: 767px) {
    .developed {
        display: none !important;
    }

    .footer {
        justify-content: center;
    }
}
