@import 'common';
@import 'variables-dark';

@import 'typography';
@import 'header';
@import '../../shared/scss/navigation';
@import 'footer';
@import 'report';

* {
    box-sizing: border-box;
    border: 0 none;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: $font-color;
}

*:focus {
    outline: 0;
}

/*** BASIC LAYOUT ***/

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
    background-color: $background-color;
}

.header {
    flex: 0 0 auto;
    filter: grayscale(50%);
}

.container {
    max-width: 48em;
    padding: 0 0.5em;
    margin: 0 auto;
}

.widescreen .container {
    max-width: 72em;
}

