{% include 'incl/header.twig' %}
    <div class="main" role="main">
        <div class="report-container">
            <div class="sidebar">
                <a href="kmom01" {% if current_page.id == "report/kmom01" %} class="active"{% endif %}>Kmom01</a>
                <a href="kmom02" {% if current_page.id == "report/kmom02" %} class="active"{% endif %}>Kmom02</a>
                <a href="kmom03" {% if current_page.id == "report/kmom03" %} class="active"{% endif %}>Kmom03</a>
                <a href="kmom04" {% if current_page.id == "report/kmom04" %} class="active"{% endif %}>Kmom04</a>
                <a href="kmom05" {% if current_page.id == "report/kmom05" %} class="active"{% endif %}>Kmom05</a>
                <a href="kmom06" {% if current_page.id == "report/kmom06" %} class="active"{% endif %}>Kmom06</a>
                <a href="kmom10" {% if current_page.id == "report/kmom10" %} class="active"{% endif %}>Kmom10</a>
            </div>
            <div class="report">
                {{ content }}
            </div>
        </div>
    </div>
{% include 'incl/footer.twig' %}
